/* base */
html{
    color:#000;background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { margin:0;padding:0; }

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
    /*font:12px/1.5 tahoma,arial,\5b8b\4f53;*/
    font-size: 16px;
}
input,select,textarea{
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}



/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* base end */





/* common */
/*for screen height*/
html, body {
    height: 100%;
}
/*for full screen*/
:-webkit-full-screen html {  
  width: 100%;  
  height: 100%;  
}  
:-moz-full-screen html,
:-moz-full-screen body,
html:-moz-full-screen,
body:-moz-full-screen {
    overflow-y:auto;
}


#header {
    position:relative;
    z-index:1000;
}

.logo {
    font-size: 25px;
    float: left;
    color: #9a1;
}
.logo .tv {
    color: #6898DD;
}

#content {
    overflow:hidden;
    height: 100%;
    position: relative;
}

.logo, input {
    height: 25px;
    padding: 0 5px;
    display: inline-block;
    margin: 5px 0;
}
input[type="text"] {

    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input[type="text"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input[type="button"] {
    background-color: #05c;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    opacity: 0.65;

    padding: 0 10px;
    color: white;
    cursor: pointer;
}

/* common end */

/* style */
.post-dialog {
    display: block;
    padding: 5px 15px;
    position: relative;
    z-index: 1000;

    border-bottom: 1px solid #aaa;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);


    text-align: center;
}
.hall {
    overflow: hidden;
} 

.hall.up {
    margin-top: -224px;
    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    transition: margin 1s;
}

.name {
    width: 5em;
}
.content {
    width: 20em;
}

.speak {
    float:left;
    width: 47%;
    height: 200px;
    margin: 0.8%;

    border: 1px solid #bbb;

    padding: 5px;
    font-size: 25px;
    word-wrap: break-word;
    overflow: hidden;

}
.speak-head {
    font-size: 16px;
    height: 20px;
}
.speak-head .name {
    color: #5D9AEE;
}
.speak-head .time {
    color: #bbb;
}
.speak-body {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.speak-content {
    width: 100%;
    height: 165px;

    display: table-cell;
    vertical-align: middle;

    text-align: center;
}
.speak-content:before {
    content: "“";
    font-size: 40px;
    color: #aaa;
}

/*.speak-content:after {*/
    /*content: "”";*/
    /*font-size: 40px;*/
    /*color: #aaa;*/
/*}*/

.divide {
    display: block;
    clear: both;
    border-bottom: 2px dashed #aaa;
    margin-bottom: 6px;
}
.divide-text {
    display: block;
    font-size: 14px;
    width: 60px;
    height: 18px;
    line-height: 18px;
    margin: 0 auto;
    margin-bottom: -9px;

    background: white;

    text-align: center;
    color: #aaa;
}


/* style-notice */
.notice {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 200px;
    width: 47%;

    border-radius: 5px;
    background: black;
    opacity: 0.8;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;

    display: table;
    table-layout: fixed;
    word-wrap: break-word;
}
.notice.hide {
    opacity: 0;
}
.notice-content {
    width: 100%;
    height: 100%;

    display: table-cell;
    vertical-align: middle;

    text-align: center;
    font-size: 24px;
    color: white;
}
.notice-alert {
    position: absolute;
    bottom: 8px;
    left: 0;
    display: block;
    width: 100%;

    font-size: 12px;
    color: #c90000;
    text-align: center;

}
/* style-notice end */

::-webkit-scrollbar {
    display: none;
}
/* style end */


/* Components */
/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
    display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}



.brick-tiny {
    width: 22%;
    margin: 0.8% 6px;
    /*height: 87px;*/
}
.brick-tiny .speak-content {
    /*height: 80px;*/
}
.brick-huge {
    width: 97%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
/* Components end */
